@media(max-width: 1210px) {
    .headerSubtitle {
        width: 45%;
        font-size: 2rem;
    }

    .disclaimer {
        padding: .5rem 0 0;
    }
}

@media(max-width: 1165px) {
    .headerSubtitle {
        width: 50%;
        font-size: 2rem;
    }

    .disclaimer {
        padding: .5rem 0 0;
    }
}

@media(max-width: 1048px) {
    h1 {
        margin-top: 3%;
    }

    .headerSubtitle {
        padding: 0;
        width: 50%;
        font-size: 2rem;
    }

    .disclaimer {
        padding: .5rem 0 0;
    }

    .moodFormContainer {
        margin-top: 5rem;
    }
}

@media(max-width: 971px) { 
    .headerSubtitle {
    width: 50%;
        font-size: 1.8rem;
    }
}

@media(max-width: 880px) { 
    .headerSubtitle {
        width: 50%;
        font-size: 1.8rem;
    }
}

@media(max-width: 874px) { 
    .headerSubtitle {
        width: 50%;
        font-size: 1.6rem;
    }
}

@media(max-width: 783px) { 
    .headerSubtitle {
        width: 50%;
        font-size: 1.5rem;
    }
    .resultContainer{
        height:99vh;

        a{
            font-size:1.8rem;

            &:hover{
                background: $yellow;
                transition: .3s;
                border:1px solid $cream;
            }
        }
    }

    .userResultsContainer{
        margin-bottom:3rem;
    }

    img{
        width:40%;
        padding:2%;
    }
}

@media(max-width: 736px) { 

    .headerSubtitle {
        width: 55%;
        font-size: 1.5rem;
    }
    .disclaimer {
        width:80%;
        margin: 2rem auto;
    }

    .mood{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .moodChoice{
        width:70%;
        padding:1rem 2rem;
        font-size:1.8rem;
    }
}

@media(max-width: 667px){

    .formTitle{
        padding-top:.5rem;
    }
    .moodChoice{
        width:90%;
        padding:.5rem 1rem;
        font-size:1.6rem;
    }

    .mood{
        padding:.5rem;
    }

    .moodButtonContain{
        margin-top:1rem;
    }
}

@media(max-width: 500px) { 

    html{
        font-size:80%;
    }
    .headerSubtitle {
        width: 85%;
        font-size: 1.6rem;
    }

    .formTitle{
        font-size: 2rem;
    }

    .moodFormContainer p{
        font-size:1.5rem;
        padding:.5rem;
    }

        
        
}

@media(max-width: 480px) { 

    body{
        font-size:75%;
    }

    .startButton {
        width:100%;
        margin:0 auto;
        margin-top:5rem;
        padding:0rem;

        a{
        padding:1rem 1rem;
        font-size:1.6rem;
        }
    }
    
    .disclaimer{
        padding-top:0;
    }

    .headerSubtitle {
        padding: 2rem 0 1rem;
        width: 85%;
        font-size: 1.4rem;
    }

    .disclaimer {
        font-size: .6rem;
        padding: .5rem 0 0;
    }

    .startButton {
        margin: 3%;
    }

}

@media(max-width: 350px){
    html{
        font-size:60%;
    }
    
    footer p{
     font-size:1rem;
    }
}
